.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 10px;
    grid-template-rows: repeat(minmax(200px,auto));
}

.blogs h1 {
    color: rgb(43, 116, 226);
}
.blogs samall {
    color:#000
}
.blog{
    border : 1px solid #000;
    border-radius: 5%;
    box-shadow: 1px 1px 1px  rgb(43, 116, 226);
    padding: 10px;
}
.blog:hover{
    opacity: 70%;
}

.blog:hover > h1{
    color: #fff;
    padding: 5px;
    border-radius: 5%;
    /* opacity: 70%; */
}
.blog:hover > p , small{
    color: #fff;
    padding: 12px;
    border-radius: 5%;
    /* opacity: 70%; */
}
.blog-link{
    text-decoration: none;
}

.btn{
    background-color: brown;
    color: #fff;
    border: 1px solid brown;
    padding: 5px;
    border-radius: 5px;
}
.btn:hover{
    cursor:pointer
}



@media screen and (max-width: 601px) {
    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        grid-gap: 10px;
        grid-template-rows: 220px;
    }
  }